<div class="form-group">
   <%= f.label :username %><br>
   <%= f.text_field :username, class:"form-control" %><br>
   <%# </div> %>
   <!-- Email -->
<%# <div class="form-group"> %>
   <%= f.label :email%><br>
   <%= f.text_field :email,class:"form-control" %><br>
<%# </div> %>
   <!-- Password -->
<%# <div class="form-group"> %>
   <%= f.label :password %><br>
   <%= f.password_field :password ,class:"form-control"%><br>
<%# </div> %>

<%# <div class="form-group"> %>
   <%= f.label :password_confirmation, "Confirmation Password" %><br>
   <%= f.password_field :password_confirmation ,class:"form-control"%><br>
</div>