<div class="container">

<h1>All User</h1>


<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
    
    <% @users.each do |user|%>
        <div class="position-avatar" style="display:flex">

        <%# Click show profile %>
        <%= link_to user_path(user) do %>
            <div class="avatar">
                <%= gravatar_for user%>
            </div>
        <% end %>


            <div class="showalluser" style="line-height:40px">    
                <strong>Name: </strong><%= user.username%><br>
                <strong>Email: </strong><%= user.email%><br>
                <%# check admin %>
                <% if current_user.admin? && !current_user?(user)%>
                    <%= link_to  "Delete",user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
                <% end %>
            </div>
        </div>
        <hr>
    <% end %>
    </div>
    <div class="col-md-3"></div>
</div>

<%=paginate @users%>

</div>
